<%- include('partials/headerfeed') -%>

<main id="main" class="d-flex justify-content-center">
  <!-- ======= Works Section ======= -->
  <section class="section site-portfolio">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-md-12 col-lg-12 mb-12 mb-lg-12 text-center" data-aos="fade-up">
          <div>
            <h3>Childhood Recipes. From childhood to your table.</h3>
            <p>Welcome to Childhood Recipes, a delightful online platform dedicated to preserving and sharing cherished culinary memories from our past. Embark on a nostalgic journey through a treasure trove of heartwarming recipes that have been handed down through generations, cherished by families, and enjoyed during our carefree days of youth.
  
            </p>
          </div>
      
          <p class="mb-0">Please login or signup to view recipes</p>
          
          <div class="container">
            <!-- Buttons Section -->
            <div class="container-fluid d-flex justify-content-center col-sm-6 col-md-2 mx-auto button-container mt-4">
              <!-- First button (Favorites) -->
              <a class="btn btn-secondary" href="/login">Login</a>
              <a class="btn btn-secondary" href="/signup">Signup</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Works Section -->
</main>
<!-- End #main -->

<%- include('partials/footer') -%>


